{% extends 'base.html.twig' %}

{% block title %}Home!{% endblock %}

{% block body %}
    <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-5">
        {% if data is not empty %}
            {% for d in data %}
                <a href="#" class="flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <img class="object-cover w-full h-96 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="{{ asset('images/carrousel.jpg') }}" alt="">
                    <div class="flex flex-col justify-between p-4 leading-normal">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ d.title }}</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ d.body }}</p>
                    </div>
                </a>

            {% else %}
                <p ><strong>Listes des utilisateurs est vides</strong></p>
            {% endfor %}
        {% else %}
            <p ><strong>Listes des utilisateurs est vides</strong></p>
        {% endif %}



    </div>

{% endblock %}

