{% extends 'base.html.twig' %}

{% block title %}Home!{% endblock %}

{% block body %}




    <div class="px-4 py-16 mx-auto max-w-screen-xl sm:px-6 lg:px-8">

        <form action="POST" action="{{ path('app_user', {id: data.id}) }}" class="max-w-md mx-auto mt-8 mb-0 space-y-4">
            <div>
                <label for="email" class="sr-only">Nom Complet</label>

                <div class="relative">
                    <input
                            type="text"
                            class="w-full p-4 pr-12 text-sm border-gray-200 rounded-lg shadow-sm"
                            placeholder="Nom Utilisateur"
                            value="{{ data.name }}"
                    />

                    <span class="absolute inset-y-0 inline-flex items-center right-4"></span>
                </div>
            </div>
            <div>
                <label for="email" class="sr-only">Pseudo</label>

                <div class="relative">
                    <input
                            type="text"
                            class="w-full p-4 pr-12 text-sm border-gray-200 rounded-lg shadow-sm"
                            placeholder="Pseudo"
                            value="{{ data.username }}"
                    />

                    <span class="absolute inset-y-0 inline-flex items-center right-4"></span>
                </div>
            </div>
            <div>
                <label for="email" class="sr-only">Email</label>

                <div class="relative">
                    <input
                            type="email"
                            class="w-full p-4 pr-12 text-sm border-gray-200 rounded-lg shadow-sm"
                            placeholder="Enter email"
                            value="{{ data.email }}"
                            disabled
                    />

                    <span class="absolute inset-y-0 inline-flex items-center right-4">

        </span>
                </div>
            </div>
            <p class="font-bold text-sm">Adresse</p>
            <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
                <div>
                    <label for="street" class="sr-only">Rue</label>

                    <div class="relative">
                        <input
                                type="text"
                                class="w-full p-4 pr-12 text-sm border-gray-200 rounded-lg shadow-sm"
                                placeholder="Adresse"
                                value="{{ data.address.street}}"
                        />

                        <span class="absolute inset-y-0 inline-flex items-center right-4"></span>
                    </div>
                </div>
                <div>
                    <label for="street" class="sr-only">Appartement</label>

                    <div class="relative">
                        <input
                                type="text"
                                name="suite"
                                class="w-full p-4 pr-12 text-sm border-gray-200 rounded-lg shadow-sm"
                                placeholder="Adresse"
                                value="{{ data.address.suite }}"
                        />

                        <span class="absolute inset-y-0 inline-flex items-center right-4"></span>
                    </div>
                </div>
                <div>
                    <label for="zipcode" class="sr-only">Zip Code</label>

                    <div class="relative">
                        <input
                                name="zipcode"
                                type="text"
                                class="w-full p-4 pr-12 text-sm border-gray-200 rounded-lg shadow-sm"
                                placeholder="Zip Code"
                                value="{{ data.address.zipcode }}"
                        />

                        <span class="absolute inset-y-0 inline-flex items-center right-4"></span>
                    </div>
                </div>
                <div>
                    <label for="city" class="sr-only">Cité</label>

                    <div class="relative">
                        <input
                                name="city"
                                type="text"
                                class="w-full p-4 pr-12 text-sm border-gray-200 rounded-lg shadow-sm"
                                placeholder="Cité"
                                value="{{ data.address.city }}"
                                disabled
                        />

                        <span class="absolute inset-y-0 inline-flex items-center right-4">

        </span>
                    </div>
                </div>
            </div>



            <div class="flex justify-end">
                <button
                        type="submit"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M21.2635 2.29289C20.873 1.90237 20.2398 1.90237 19.8493 2.29289L18.9769 3.16525C17.8618 2.63254 16.4857 2.82801 15.5621 3.75165L4.95549 14.3582L10.6123 20.0151L21.2189 9.4085C22.1426 8.48486 22.338 7.1088 21.8053 5.99367L22.6777 5.12132C23.0682 4.7308 23.0682 4.09763 22.6777 3.70711L21.2635 2.29289ZM16.9955 10.8035L10.6123 17.1867L7.78392 14.3582L14.1671 7.9751L16.9955 10.8035ZM18.8138 8.98525L19.8047 7.99429C20.1953 7.60376 20.1953 6.9706 19.8047 6.58007L18.3905 5.16586C18 4.77534 17.3668 4.77534 16.9763 5.16586L15.9853 6.15683L18.8138 8.98525Z" fill="currentColor" /><path d="M2 22.9502L4.12171 15.1717L9.77817 20.8289L2 22.9502Z" fill="currentColor" /></svg>
                    <span>Modifier</span>
                </button>
            </div>
        </form>
    </div>


{% endblock %}
