<li>
    {% if todo.completed %}
        <input id="completed" name="completed" type="checkbox" value="true" checked  class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    {% else %}
        <input id="completed" name="completed" type="checkbox" value="true"   class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
    {% endif %}
    {{ todo.id }} - {{ todo.title }}


</li>