{% extends 'base.html.twig' %}

{% block title %}Todos{% endblock %}

{% block body %}
    <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-6 lg:grid-cols-6 xl:grid-cols-6 gap-5">
        {{ form(form, { attr: {'id': 'formtodo' } }) }}
    </div>
<div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-6 lg:grid-cols-6 xl:grid-cols-6 gap-5">
        {% if data is not empty %}
            <ol class="list-decimal" id="list-todo">

            {% for todo in data %}
                {% include 'home/todo.html.twig' %}
            {% else %}
                <p ><strong>Listes des Todos est vide</strong></p>
            {% endfor %}
            </ol>
        {% else %}
            <p ><strong>Listes des Todos est vide</strong></p>
        {% endif %}



    </div>

{% endblock %}